# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# SECRET_KEY
SECRET_KEY=your_secret_key_here

DEBUG=bool         # Установите в True для разработки, в False для production

# Конфигурация базы данных
NAME=mydatabase    # Имя базы данных
USER=username      # Имя пользователя базы данных
PASSWORD=password  # Пароль базы данных
HOST=localhost     # Хост для базы данных
PORT=myport        # Порт базы данных

# Конфигурация почты
EMAIL_HOST_USER = your_email@example.com
EMAIL_HOST_PASSWORD = your_email_password

# Конфигурация кеша
LOCATION=your_location_here

GITHUB_TOKEN=your_github_token_here
